{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div class="articles light main">
        <div class="container">
            <div class="row article">
                <div class="col-xl-4 col-lg-6">
                    <a href="#"><img src="https://wallpapercave.com/wp/bBWSsFB.jpg"></a>
                </div>
                <div class="col-xl-8 col-lg-6 text">
                    <a href="#"><h4>Як правильно вибрати гітару?</h4></a>
                    <span class="publishDate">Вчора</span>
                    <span class="badge badge-info">Начання</span>
                    <span class="badge badge-info">Гітари</span>
                    <p>Новачки, які хочуть навчитись грати на гітарі мене часто запитують бла бла бла. Багато програм
                        верстування та веб-дизайну використовують Lorem Ipsum як зразок і пошук за терміном "lorem
                        ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому стані. Різні версії Lorem
                        Ipsum з'явились за минулі роки, деякі випадково, деякі було створено зумисно (зокрема,
                        жартівливі).
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}